.gnb {
  width: 100%;

  .tab-list {
    @include flexbox();
    border-bottom: 1px solid $gray;
  }

  .tab-item {
    width: 50%;

    .tab {
      width: 100%;
      padding: 1rem 0;
      color: $gray;
      font-size: 1rem;
      font-weight: 700;
      transition: color 200ms ease-in-out;

      &:hover,
      &:active {
        color: $black;
      }
    }
  }

  @include responsive(T) {
    .tab-list {
      justify-content: flex-start;
      padding-left: 1.5rem;
    }

    .tab-item {
      width: 8rem;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .tab {
        font-size: 1.4rem;
      }
    }
  }

  @include responsive(D) {
    .tab-list {
      padding-left: 1rem;
    }
  }
}
