.profile {
  margin-bottom: 3rem;

  .profileTitle {
    font-size: 1.6rem;
    font-style: italic;
    color: $yellow;
    margin-bottom: 2rem;
  }

  .profileWrap {
    @include column-flexbox(start);

    .profileImg {
      position: relative;
      width: 12rem;
      height: 12rem;
      margin-bottom: 2.2rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .intro {
      font-size: 0.95rem;
      line-height: 1.5;
      color: $dark;
      text-align: center;
    }
  }

  @include responsive(T) {
    padding-left: 2.6rem;
    margin-bottom: 4rem;

    .profileTitle {
      margin-bottom: 3rem;
    }

    .profileWrap {
      flex-direction: row;
      align-items: flex-start;
      padding-left: 3.6rem;

      .profileImg {
        width: 13rem;
        height: 13rem;
        margin-right: 5rem;
      }

      .intro {
        padding-top: 2rem;
        text-align: left;
      }
    }
  }
}
