.profile {
  margin-bottom: 3rem;

  &-title {
    font-size: 1.6rem;
    font-style: italic;
    color: $yellow;
    margin-bottom: 2rem;
  }

  .profile-wrapper {
    @include column-flexbox(start);

    .profile-image {
      position: relative;
      width: 12rem;
      height: 12rem;
      margin-bottom: 2.2rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .profile-intro {
      font-size: 0.95rem;
      line-height: 1.5;
      color: $dark;
      text-align: center;
    }
  }

  @include responsive(T) {
    margin-bottom: 4rem;

    &-title {
      margin-bottom: 3rem;
    }

    .profile-wrapper {
      flex-direction: row;
      align-items: flex-start;
      padding-left: 3.6rem;

      .profile-image {
        flex-grow: 0;
        flex-shrink: 0;
        width: 13rem;
        height: 13rem;
        margin-right: 5rem;
      }

      .profile-intro {
        padding-top: 2rem;
        text-align: left;
      }
    }
  }
}
