.projects {
  display: none;

  &.show {
    display: block;
  }

  &-badge {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-style: italic;
    color: $yellow;
  }

  .project-item {
    @include flexbox();
    width: 100%;
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include responsive(T) {
    &-badge {
      margin-bottom: 3rem;
    }

    .project-list {
      @include flexbox(start, start);
      flex-wrap: wrap;
    }

    .project-item {
      width: 50%;
      margin-bottom: 4rem;

      &:nth-child(1),
      &:nth-child(3) {
        padding-right: 1rem;
      }
      &:nth-child(2),
      &:nth-child(4) {
        padding-left: 1rem;
      }
    }
  }
}
